<div class="profile clearfix">
  <div class="profile_pic">
    <img src="/img/user.png" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>{{name}} 님</h2>
  </div>
  <div class="clearfix"></div>
</div>
